name: Checks

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  pull_request:
    runs-on: windows-2022

    steps:
    - name: "Check out repo"
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        lfs: true

    # We need to skip corepack check because the windows runner (specifically)
    # is inconsistent with the yarn version it uses See actions/setup-node#889
    - name: Set up Node 
      uses: actions/setup-node@v4
      with:
        node-version: 18
        node-version-file: .nvmrc
        cache: "yarn"
        cache-dependency-path: yarn.lock
      env:
        SKIP_YARN_COREPACK_CHECK: 1

    - name: "Install deps"
      run: |
        corepack enable
        yarn install

    - name: "Lint codebase"
      run: yarn lint

    - name: "Build packages"
      run: yarn build
    
    - name: "Version check"
      run: yarn version check
