name: Checks

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  pull_request:
    runs-on: windows-2022

    steps:
    - name: "Check out repo"
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: "Use Node.js ${{ matrix.node-version }}"
      uses: actions/setup-node@v2
      with:
        node-version: '16'
        cache: 'yarn'

    - name: "Set yarn version (3.1.0)"
      run: yarn set version 3.1.0

    - name: "Install deps"
      run: yarn install

    - name: "Build packages"
      run: yarn build

    - name: "Lint codebase"
      run: yarn lint
    
    - name: "Version check"
      run: yarn version check
