# TODO: Cache builds better.
# TODO: Only build the affected packages.
# TODO: Add back in lint step once toolchain is modernized.
name: AUTO - Check PR

concurrency: ${{ github.workflow }}-${{ github.ref }}

on:
  pull_request:
    types: [opened, synchronize]

env:
  CI: true
  NODE_VERSION: 20

jobs:
  build-types:
    name: Build @irsdk-node/types
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-library
        with:
          package-name: "@irsdk-node/types"
          node-version: 20

  build-native-ts:
    name: Build @irsdk-node/native
    needs: build-types
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-library
        with:
          package-name: "@irsdk-node/native"
          node-version: 20

  format-native-modules:
    name: Formatting check @irsdk-node/native
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup PNPM
        uses: ./.github/actions/setup-packages
        with:
          node-version: 20

      - name: Setup clang-format
        run: |
          CLANG_FORMAT_VERSION="21"

          # Install clang-format
          wget -qO- https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
          sudo add-apt-repository -y "deb http://apt.llvm.org/$(lsb_release -cs)/ llvm-toolchain-$(lsb_release -cs)-${CLANG_FORMAT_VERSION} main"
          sudo apt-get update
          sudo apt-get install -y clang-format-${CLANG_FORMAT_VERSION}

          # Print version
          clang-format-${CLANG_FORMAT_VERSION} --version

      - name: Run clang-format on @irsdk-node/native package
        run: pnpm run --filter "packages/irsdk-node-native" clang-format-check

  build-native-modules:
    name: Build @irsdk-node/native ${{ matrix.runner }}
    needs:
      - build-native-ts
      - format-native-modules
    strategy:
      matrix:
        runner: [windows-latest, windows-11-arm]
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-native-library
        with:
          package-name: "@irsdk-node/native"
          node-version: 20
          artifact-dir: ./packages/irsdk-node-native/prebuilds

  build-core-lib:
    needs:
      - build-types
      - build-native-ts
    name: Build irsdk-node
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-library
        with:
          package-name: "irsdk-node"
          node-version: 20
