# TODO: Cache builds better.
# TODO: Only build the affected packages.
# TODO: Add back in lint step once toolchain is modernized.
name: AUTO - Check PR

concurrency: ${{ github.workflow }}-${{ github.ref }}

on:
  pull_request:
    types: [opened, synchronize]

env:
  CI: true
  NODE_VERSION: 20

jobs:
  build-types:
    name: Build @irsdk-node/types
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-library
        with:
          package-name: "@irsdk-node/types"
          node-version: 20

  build-native-ts:
    name: Build @irsdk-node/native
    needs: build-types
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-library
        with:
          package-name: "@irsdk-node/native"
          node-version: 20

  format-native-modules:
    name: Formatting check @irsdk-node/native
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run clang-format@v21 on @irsdk-node/native package
        uses: jidicula/clang-format-action@v4.16.0
        with:
          clang-format-version: "21"
          check-path: "packages/irsdk-node-native/lib"
          exclude-regex: '(\/irsdk\/)'

  build-native-modules:
    name: Build @irsdk-node/native ${{ matrix.runner }}
    needs:
      - build-native-ts
      - format-native-modules
    strategy:
      matrix:
        runner: [windows-latest, windows-11-arm]
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-native-library
        with:
          package-name: "@irsdk-node/native"
          node-version: 20
          artifact-dir: ./packages/irsdk-node-native/prebuilds

  build-core-lib:
    needs:
      - build-types
      - build-native-ts
    name: Build irsdk-node
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-library
        with:
          package-name: "irsdk-node"
          node-version: 20
